.board {
    display: flex;
    flex-direction: column;
    border: 2px solid #475569;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1;
    margin: 0 auto;
    background-color: white;
}

.board-row {
    display: flex;
    flex: 1;
}

.board-row:nth-child(3n) .cell {
    border-bottom: 2px solid #475569;
}

.board-row:last-child .cell {
    border-bottom: none;
}